<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
        <script>
            var socket  = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            socket.on('connect', function() {
                // we emit a connected message to let the client know that we are connected.
                socket.emit('web_client_connected', {'connected': true});
                console.log('Connected to WebSocket server');
            });

            socket.on('message_broadcast', function(data) {
                console.log('Response received from server');

                let messageBag = JSON.parse(data);

                let chatroom = document.getElementById('chatroom');

                chatroom.value += `${messageBag.sender} on ${messageBag.timestamp}:\n${messageBag.message}\n\n`;
            });

            
        </script>
        <script>
            function send() {
                let username = document.getElementById('username').value;
                let message = document.getElementById('message').value;

                let data = {
                    sender: username,
                    message: message,
                };

                socket.emit('message_sent', data);

                document.getElementById('message').value = '';

                console.log('Client sent data to WebSocket server: ', data);
            }
        </script>
        <title>Chat Test</title>
    </head>
    <body>
        <h1 class="text-4xl font-bold text-center my-6">Chat Room</h1>

        <form class="max-w-3xl mx-auto p-4 bg-white shadow-2xl rounded-lg  border-indigo-50 border">
            <table class="min-w-full border-separate border-spacing-2">
                <tr>
                    <th class="text-lg font-medium text-gray-700 py-2">Set Driver Name</th>
                    <td>
                        <input type="text" id="username" name="username" value="Driver" size="79" class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
                    </td>
                </tr>
                <tr>
                    <th class="text-lg font-medium text-gray-700 py-2">Chat Room</th>
                    <td>
                        <textarea id="chatroom" name="chatroom" readonly cols="80" rows="20" class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="text-lg font-medium text-gray-700 py-2">Message</th>
                    <td>
                        <textarea id="message" name="message" cols="80" rows="5" class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button type="button" onclick="send()" class="bg-blue-600 text-white px-6 py-3 rounded-full transition-transform transform active:scale-95 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300">Send</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>